{% extends 'clubs/base.html' %}

{% block title %}密码已重置 - 校园社团网{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <i class="bi bi-check-circle text-success" style="font-size: 4rem;"></i>
                    <h3 class="mt-4">密码重置成功！</h3>
                    <p class="text-muted mt-3">
                        你的密码已经成功重置。<br>
                        现在你可以使用新密码登录了。
                    </p>
                    
                    <div class="mt-4">
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            <i class="bi bi-box-arrow-in-right"></i> 前往登录
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
